# minecraft-bot.service
# /etc/systemd/system/minecraft-bot.service
#

[Unit]
Description=Discord ec2 bot
After=network.target
After=local-fs.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/.local/share/venus/bots/minecraft-bot
ExecStart=/home/pi/.rbenv/shims/ruby app.rb
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
